body{
	background-image: url("../images/hamiltonwallpaper.jpg");
	
}

p{
	padding: 10px;
}

.image {
      width: 200px;
      height: 200px;
      padding: 15px;
}

/*input[type = "radio"]{
	margin-right: 0;
}*/

form{
	margin: 15px;
	text-orientation: center;

}

#submitButton{
	margin-left: 400px;
	color: red;
}

#header{
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 50px;
	color: #b7903c;
	text-align: center;
}

#questionContainer{
	width: 500px;
	color: #b7903c
}